@font-face {
    font-family: 'Bauhaus 93';
    src: url('Bauhaus93.woff2') format('woff2'),
        url('Bauhaus93.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('AdobeFanHeitiStd-Bold-Alphabetic.woff2') format('woff2'),
        url('AdobeFanHeitiStd-Bold-Alphabetic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

