@import url('common.css');


body{ 
  /*  overflow-y: scroll; 세로스크롤
    overflow-x: scroll;가로스크롤
    overflow:auto;콘텐츠 크기에따라 스크롤반영
    overflow-x:hidden; 지정된 영역 이외 숨김*/
}


.pos_fix1 {
    height: 3000px;
    width: 50%;
    position: relative;
    border: 1px solid #000;

}

.pos_fix1 a {
    position:fixed;
    right: 5%;
    bottom: 5%;
    
    width: 80px; height: 80px;
    background: #f00;
    color: #fff;
    text-align: center;
    line-height: 80px;

}
.pos_fix1 a:before{
    
    content: '';
        display:inline-block;
    
    width: 0; height: 0;
    border: 10px solid transparent;
    border-bottom: 20px solid #000;
    
    position: absolute;
    left: 40%; top:0px;
    transform: .3s;
}

.pos_fix1 a:hover:before{
    top:-30px;  
    
}





.bg_fix{}
.bg_fix div:first-child{
    width: 100%; height: 800px;
    background: url('../../img/photo1.jpg') no-repeat fixed;
    background-size: cover;
}

.bg_fix div:last-child{
    width: 100%; height: 800px;
    background: url('../../img/photo2.jpg') no-repeat fixed;
    background-size: cover;}




